@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.container {
  padding: auto;
}

.hero {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 2)),
    url(/images/hero-1.jpg);
  /* background-position: center; */
  /* background-repeat: no-repeat; */

  /* background-size: contain; */
  height: 100vh;
  /* margin-left: 10px; */
  padding: 0 100px;

  flex: 0 0 0 20;
  color: white;
}

.nav-bar {
  display: flex;
  padding: 50px 0;
  width: 100%;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.nav-bar .logo {
  color: white;
  padding-right: 50px;
  flex-grow: 1;
}

.nav-bar .nav-list ul {
  display: flex;
}

.nav-bar .nav-list li {
  padding-right: 30px;
  color: white;
  font-size: large;
  text-transform: uppercase;
  list-style: none;
}

.nav-bar ul li::after {
  content: "";
  height: 2px;
  width: 0;
  background: yellow;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-bar ul li:hover::after {
  width: 100%;
  height: 2px;
}

.nav-btn {
  padding: 10px;

  background-color: yellow;
  border-radius: 5px;
  border: 1px;
  color: black;
  font-size: large;
  cursor: pointer;
}

.hero-content {
  position: absolute;
  float: right;

  top: 300px;
  width: 1000px;
}

.hero-content h2 {
  font-size: 4em;
  line-height: 1.5em;
}

.hero-content span {
  display: block;
}
.hero-content p {
  line-height: 2em;
  padding-bottom: 1.4em;
  width: 100%;
}

#hero-btn {
  padding: 10px;
  text-align: center;
  margin: 0 a;
}

.vertical-bar {
  position: absolute;
  height: 100%;
  background: yellow;
  width: 50px;
  left: 0;
  top: 0;
}
.social-icons {
  position: absolute;

  background: seashell;
  width: 50px;
  height: 27%;
  bottom: 0;
}

.social-icons .fa {
  display: block;
  text-align: centers;
  margin: 15px 23px;
  padding: 2px;
}
